body{
	background: url(../images/bg.png) repeat #fff;
}

h2{
	text-align: center;
	margin: 20px 0px;
	
}
.left-sidebar{
	border: 1px solid #49AFCD;
	padding: 10px 10px 39px 10px;
	}
.right-sidebar{
	border: 1px solid #49AFCD;
	padding: 10px 10px 50px 10px;
	}
.right-sidebar img{
	position: absolute;
	left:0;
	right: 0;
	margin:0 auto;
	width: 64px;
	height: 64px;
	padding-top: 5px;
	}
.image-panel{
	display: inline-block;
	position:relative;
	vertical-align:top;
	width: 125px;
	height: auto;
	border: 1px solid #5BB75B;
	border-radius:0.5em;
	overflow: hidden;
	margin-left: 5px;
	margin-top:5px;
	
	}
.image-panel span{
	margin:75px 5px 5px 5px;
	display:block;
	text-align: center;
	color: #aaa;
	font-size: 10px;
	line-height: 12px;
	padding-bottom:30px;
	word-break: break-all;
	}

.image-panel a.CPurl{
	outline: none;
	display:block;
	text-align: center;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	margin:0 auto;
	color: #333;
	font-size: 10px;
	margin-top:10px;
	color:#FFF;
	background-color:#5BB75B;
	}
	
.image-panel a:hover{
	background-color:#00FF00;
}


a {
	color:black;
	text-decoration: none;
	}
	
a:HOVER{
	text-decoration: none;
}
a.btn{
	margin:5px 0 0 0;
	width: 85%;
	}
.ErrorOut{
	border: 1px solid transparent;
	background-color:#fcf8e3;
	border-color:#faebcc;
	color:#8a6d3b;
	padding: 5px;
	text-align:center;
}

.InfoOut{
	border: 1px solid transparent;
	background-color:#dff0d8;
	border-color:#d6e9c6;
	color:#3c763d;
	padding: 5px;
	margin-bottom:5px;
	text-align:center;
}

.admin-menu{
	background-color: #ddd;
	border-radius:0.5em;
	text-align: center;
}

.text-separator{
	margin-top: 5px;
	text-align: center;
	font-style: italic;
	font-size: 12px;
	color: #bbb;
	}
footer{
	margin: 50px 10px;
	background-color: #FFF;
	text-align:center;
	font-style:italic;
	padding: 5px 10px;
	}
	
	
.addPanel{
	margin: 30px 10px 10px 10px;
	border: 2px solid #070;
	border-radius:0.5em;
	padding:10px 10px;
}

.addPanel input, .addPanel select{
	width: 95%;
	margin: 5px 0;
}

#sptext{
	width: 92%;
	margin: 5px 0;
}

.imageInfo{
	width:64px;
	height:64px;
	margin-bottom: 10px;
}
